
    

<div class="manager-home">
    <marquee><h2 class="mt-5">WELCOME MANAGER</h2></marquee>
    <div class="div1">
        <img class="img1" src="https://media.istockphoto.com/id/186258169/photo/hangar.jpg?s=612x612&w=0&k=20&c=PIiSRb_vre_U-GOJHMYoLHr1Oiqv-bgoIEutj28skKI=" />
        <div class="card1">
            <h3>Allotting Planes into Hanger</h3>
            <p>
                This feature allows you to allocate planes to available hangar spaces. You can efficiently manage the storage and arrangement of planes within the hangar facilities.
            </p>
        </div>
    </div>

    <div class="div2">
        <img class="img2" src="https://thumbs.dreamstime.com/b/servicing-business-aviation-hangar-backlight-49172766.jpg?w=992" />
        <div class="card2">
            <h3>Get Hanger Status</h3>
            <p>
                This feature provides current status and availability of hangar spaces. You can easily track which hangars are occupied and which ones are vacant for incoming planes.
            </p>
        </div>
    </div>
</div>