
@{
    ViewBag.Title = "Home";
}


   


<div class=" admin-home">
    <marquee><h2 class="mt-5">WELCOME ADMIN</h2></marquee>
    <div class="div1">
        <img src="https://wallpapers.com/images/high/soaring-white-airplane-android-9tfdb96hg2ajdsw2.webp" class="admin_card_img" />
        <div class="card">
            <h3>Adding Planes</h3>
            <p>Efficiently expand your airport's fleet by seamlessly adding new planes. Enter plane details such as name, model, and registration, and configure essential settings. Prepare for takeoff!</p>
        </div>
    </div>
    <div class="div1 div2">
        @*<img src="https://wallpapers.com/images/high/soaring-white-airplane-android-9tfdb96hg2ajdsw2.webp" />*@
        <img src="https://media.gettyimages.com/id/1028421522/photo/portrait-of-a-beautiful-female-pilot.jpg?s=612x612&w=0&k=20&c=gRbKSDFQPULw9gOd60rvLtdhzGV5hED5giJBVyku3Zc=" class="admin_card_img" />
        @*<img src="https://thumbs.dreamstime.com/z/stewardesses-looking-pilot-airport-lobby-stewardesses-looking-pilot-airport-lobby-flight-119814871.jpg?w=992" />*@
        <div class="card2">
            <h3>Adding Pilots</h3>
            <p>Enhance the expertise of your aviation team by adding skilled pilots. Manage pilot profiles. Empower your crew to navigate the skies.</p>



        </div>
    </div>
    <div class="div1 div3">
        <img src="https://thumbs.dreamstime.com/b/servicing-business-aviation-hangar-backlight-49172766.jpg?w=992" class="admin_card_img" />
        <div class="card">
            <h3>Adding Hangars</h3>
            <p>Optimize your airport's infrastructure by adding new hangars. Accommodate different aircraft sizes and ensure secure storage. Elevate your facilities for smoother operations.</p>
        </div>
    </div>
</div>

